---
import ReportLayout from '../layouts/ReportLayout.astro';
import Header from '../components/Header.astro';
import Introduccion from '../components/Introduccion.astro';
import BrechaDigital from '../components/BrechaDigital.astro';
import MadurezDigital from '../components/MadurezDigital.astro';
import CompetenciasDigitales from '../components/CompetenciasDigitales.astro';
import UsoInteligenciaArtificial from '../components/UsoInteligenciaArtificial.astro';
import CulturaOrganizacional from '../components/CulturaOrganizacional.astro';
import PlanAccion from '../components/PlanAccion.astro';
import ResumenEjecutivo from '../components/ResumenEjecutivo.astro';
import Footer from '../components/Footer.astro';
import Divider from '../components/Divider.astro';
---
<ReportLayout title="Reporte de Transformación Digital Organizacional - Profermaco">
    <Header />

    <div class="container">
        <Introduccion />

        <Divider />

        <BrechaDigital />

        <Divider />

        <MadurezDigital />

        <Divider />

        <CompetenciasDigitales />

        <Divider />

        <UsoInteligenciaArtificial />

        <Divider />

        <CulturaOrganizacional />

        <Divider />

        <PlanAccion />

        <Divider />

        <ResumenEjecutivo />
    </div>

    <Footer />

    <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>