---
---
<header>
    <div class="container header-container">
        <div class="logo-container">
            <div class="logo">skilt<span class="dot">.</span></div>
        </div>
        <div class="header-meta">
            <div class="meta-item">
                <span class="meta-label">Empresa:</span>
                <span>Profermaco</span>
            </div>
            <div class="meta-item">
                <span class="meta-label">Fecha del Diagnóstico:</span>
                <span>Lunes 9 de junio de 2025</span>
            </div>
            <div class="meta-item">
                <span class="meta-label">Empleados Evaluados:</span>
                <span>22</span>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Reporte de Transformación Digital Organizacional</h1>
    </div>
</header>
